#! /usr/bin/env nextflow

nextflow.enable.dsl=2

// Parameters for the nextflow pipeline
params {
  pathogen_giturl = false

  sequences = false
  metadata = false

  outdir = "results"

  // Deployment credentials
  s3url = false
  aws_access_key_id = ""
  aws_secret_access_key = ""

  // link any executables
  nextstrain_docker_img = 'nextstrain/base:latest'
  nextstrain_app = "nextstrain"
  augur_app = "augur"
  nextclade_app = "nextclade"
  nextalign_app = "nextalign"
  conda_env = "environment.yml"  // Alternatively, this can take a path to an existing conda environment

  threads = 4
  queueSize = 10
  clusterOptions = false
  yaml = false
}

// Environment variables, passed everywhere
env {
  augur_app = params.augur_app ? "${params.augur_app}" : "augur"
  nextclade_app = params.nextclade_app
  nextalign_app = params.nextalign_app
  nextstrain_app = params.nextstrain_app
  nextstrain_docker_img = params.nextstrain_docker_img
  AWS_ACCESS_KEY_ID = params.aws_access_key_id
  AWS_SECRET_ACCESS_KEY = params.aws_secret_access_key
}

// Pick a profile  -profile "aws"
profiles {
  local { process.cpus = "${params.threads}" }
  conda {
    process.conda = "${params.conda_env}"
    conda.useMamba = true
  }
  slurm { includeConfig 'configs/slurm.config' }
  aws   { includeConfig 'configs/aws.config' }

  docker {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
    includeConfig 'configs/docker.config'

    // Work around ps not being in Docker Image
    timeline.enabled = false
    report.enabled = false
  }

  singularity { // Does not work on mac until they make a singularity update
    singularity.enabled = true
    singularity.autoMounts = true
    includeConfig 'configs/docker.config'
  }
}

process {
  publishDir = "$params.outdir"
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

manifest {
  description = "nextflow modularized options for nextstrain"
  author = 'jenchang'
}