#! /usr/bin/env nextflow

/* Placeholder, not tested and connected yet */

plugins {
    id 'nf-amazon'
}

process {
    executor = 'awsbatch'
    queue = 'my-batch-queue'
    container = "${env.nextstrain_docker_img}"
}

aws {
    batch {
        // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    region = 'us-east-1'
}