/* Customize the runtime environment for each module */

process {
  // withName:index { }
  // withName:filter { }
  // withName:align { }
  // withName:tree { }
  // withName:refine { }
  // withName:ancestral { }
  // withName:translate { }
  // withName:traits { }
  // withName:export { }
  // withName:run_nextstrain { }
  // withName:batchfetchGB { }
}