/* Customize the runtime environment for each module */

/* move to params later */
// vadr_docker_img = 'staphdb/vadr:1.3-models-1.3-2'
// pangolin_docker_img = 'staphb/pangolin:3.1.17-pangolearn-2021-11-25'
// nextclade_docker_img = 'nextstrain:nextclade:1.7.0'
// nextstrain_docker_img = 'nextstrain/base'
/* in wdl, update terra workspace data element DATA/Workspace Data and edit docker image values*/

process {
  withLabel: nextstrain {
    container = "${env.nextstrain_docker_img}"
  }
  withLabel: nextclade {
    container = "nextstrain/nextclade:latest"
  }
  withLabel: pangolin {
    container = "staphb/pangolin:latest"
  }
  withLabel: octoflu {
    container = "flucrew/octoflu:latest"
  }
}